body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*search bar style*/  
        .search-bar {
            background-color:#fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            border-radius: 30px;
            padding: 0px 15px;
            max-width:400px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            }

        .search-bar input {
            background: transparent;
            border: none;
            outline: none;
            width: 100%;
            font-size: 16px;
            padding: 8px;
            }

        .search-bar button {
            background: transparent;
            border: none;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            }

        .search-bar button {
            color: #11e;
            font-size: 30px;
            padding: 0;
            }

        .search-bar button:hover {
            color: #FFEE00FF;
            }

.container-fluid {
    box-sizing: border-box;
    width: 100%;
}

.filter-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filter-section div label{
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
}

.filter-section div select{
    font-size: 0.7rem;
    color: #0084ff;
    border-radius: 3px;
    padding: 0.2rem;
}

.menu-container{
    box-sizing: border-box;
    display: block;
    justify-content: center;
}

.menu-category{
    box-sizing: border-box;
    display: block;
    justify-content: center;
    padding: 2rem;
}

.menu-category .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(135deg, rgb(239, 239, 255), rgb(231, 255, 255));
    justify-content:center;
    padding: 2rem;
    width: 100%;
}

.col-sm-6{
    position: relative;
    background-color: white;
    width: calc(100% / 4 - 3rem); 
    margin: 2rem 1rem;
    display: block;
    border-radius: 5px;
    animation:ease-in-out;
    animation-fill-mode: forwards;
    border: 1px solid #b3b1b1;
}

.card-img-top{
    width:fit-content;
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

.card-body{
    display:grid;
    align-items: end;
    margin: 1rem auto 0 auto;
    font-family: 'Roboto', sans-serif;
}

.card-title{
    padding: 0%;
    text-align:center;
    font-size: 0.9rem;
    font-weight: bold;
    color: #000000;
    margin: 0%;
}

.card-price{
    text-align: center;
    font-size: 0.8rem;
    color: #000000;
}

.hidden-pay-content{
    box-sizing:border-box;
    margin: 0%;
    padding: 0%;
    position: absolute;
    left:0%;
    width: calc(100% + 1px);
    bottom: 0%;
    transform: translate(0%, 80%);
    display:none;
    background: white;
    height: 40px;
    border-radius: 0 0 5px 5px;
    border-top: none;
    border-bottom: 1px solid #b3b1b1;
    border-left: 1px solid #b3b1b1;
    border-right: 1px solid #b3b1b1;
}

.card-body:hover{
    border-radius: 0;
}

.col-sm-6:hover .hidden-pay-content{
    display:block;
}

.pay-button{
    box-sizing:border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pay-btn-list{
    box-sizing:border-box;
    color: white;
    width: fit-content;
    padding: 4px 8px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 4px;
}

.add-to-cart-btn{
    border-radius: 3px 3px 3px 3px;
    background-color: #ba5e03;
}

.add-to-cart-btn:hover{
    background-color: #8e4a06;
}

.read-more-btn{
    border-radius: 3px 3px 3px 3px;
    background-color: #2e5a86;
}

.read-more-btn:hover{
    background-color: #234567;
}

@media screen and (max-width: 1024px) {
    .col-sm-6{
        width: calc(100% / 3 - 3rem);
    }
}

@media screen and (max-width: 900px) {
    .col-sm-6{
        width: calc(100% / 2 - 3rem);
    }
    .hidden-pay-content{
        display:block;
    }
}

@media screen and (max-width: 768px) {
    .filter-section{
        flex-direction:column;
        justify-content: left;
    }
    .filter-section div{
        margin: 3px;
    }
    .col-sm-6{
        width: calc(100% - 3rem);
    }
    .hidden-pay-content{
        display:block;
    }
}
