body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid {
    box-sizing: border-box;
    width: 100%;
}

.menu-container{
    box-sizing: border-box;
    display: block;
    justify-content: center;
}

.menu-category{
    box-sizing: border-box;
    display: block;
    justify-content: center;
    padding: 2rem;
}

.menu-category .row{
    display: flex;
    flex-direction: row;
    background: linear-gradient(45deg, rgb(0, 255, 229), rgb(21, 0, 97));
    justify-content:space-around;
    padding: 2rem;
}

.col-sm-6{
    background-color: white;
    width: 25%;
    margin: 0.5rem;
    display: block;
    border-radius: 10px;
    
}

.card-img-top{
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}