body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #f3f4f7, #e3e5ec);
}

.profile-container {
    position: relative;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    gap: 20px;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.profile-sidebar {
    width: 30%;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.user-img-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}

.user-img {
    width: 150px;
    height: 150px; 
    border-radius: 50%;
    border: 5px solid #fff;
    object-fit: cover;
} 

.edit-pen-container {
    position: absolute;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 25px;
    height: 25px; 
}

.edit-pen-btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: auto;
    border:2px solid #626161;
    border-radius: 50%;
    background-color: #16264b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-pen-btn:hover{
    width: 35px;
    height: 35px;
    cursor: pointer;
    animation: none;
}



.upload-btn-wrapper {
    display: none;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    overflow: hidden;
    color: #caf9ff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.profile-sidebar h3 {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.profile-sidebar p.user-role {
    font-size: 16px;
    font-style: italic;
}

.help-menu p {
    font-size: 14px;
    margin-top: 20px;
}
.help {
    color: #f9f9f9;
}
.profile-details {
    position: relative;
    width: 70%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-details h4 {
    font-size: 20px;
    color: #333;
    border-bottom: 2px solid #2575fc;
    padding-bottom: 5px;
}

.profile-details p {
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
}

.profile-form{
    border: 0.7rem solid #ccc; 
    border-radius: 1rem; 
    padding: 1rem;
 }


.profile-form p strong {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.profile-form p input {
    color: #006275;
    font-family: cursive;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 1rem;
}

.edit-badge {
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    background: #375737;
    padding: 10px;
    border:none;
    outline: none;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}
.edit-badge:hover {
    background: #0038d6;
}
#update-btn{
    display: none;
    background: #375737;
    color: #fff;
    padding: 10px;
    border:none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}

#update-btn:hover {
    background: #0038d6;
}

@media screen and (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        gap: 0;
    }
    .profile-sidebar {
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 20px;
        border-radius: none;
    }
    .edit-badge {
        top: 10px;
        left: 10px;
        right: auto;
    }
    .profile-details {
        background-color: #cfcccc;
        width: 100%;
    }
    .profile-form p {
        width: calc(100% - 4rem);
        box-sizing: border-box;
        margin: 1rem 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: block;
        padding: 1rem;
        text-align: left;
        background-color: #e9e9e9;
    }
    .profile-form p strong {
        width: 90%;
    }
    .profile-form p input {
        background-color: #e9e9e9;
        width: 90%;
    }
}